.card {
  background-color: rgb(72, 122, 168);
  width: 300px;
  height: 20vh;
  border-radius: 25px;
  border-radius: 25px;
  color: rgb(31, 85, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.title {
  color: rgb(13, 16, 173);
}
